# EJERCICIO DEL INTENSIVO

# LAS SIGUIENTES CELDAS SOLO TIENES QUE EJECUTARLAS, NO TOQUES NADA Y FUNCIONARÁ CORRECTAMENTE.

# ⚠️Ejecuta esta celda  y se te creará un fichero .csv⚠️

In [2]:
import pandas as pd
import numpy as np

# Configuración para la generación de datos simulados
n_teams = 20  # Número de equipos
start_year = 1900
current_year = 2020

# Función para introducir NaN de forma aleatoria en una columna
def add_nans(data, fraction=0.15):
    # Selecciona aleatoriamente una fracción de las entradas para convertirlas en NaN
    mask = np.random.rand(len(data)) < fraction
    data = data.astype(object)  # Convertir a object para soportar NaN
    data[mask] = np.nan
    return data

# Generar datos
data = {
    'Equipo': [f'Equipo_{i}' for i in range(n_teams)],
    'Ciudad': add_nans(np.random.choice(['Ciudad A', 'Ciudad B', 'Ciudad C'], n_teams)),
    'País': 'España',
    'Fundación': np.random.randint(start_year, current_year, n_teams),
    'Capacidad': np.random.randint(10000, 100000, n_teams),
    'Entrenador': [f'Entrenador_{i}' for i in range(n_teams)],
    'Puntos': np.random.randint(0, 100, n_teams),
    'Goles_Favor': np.random.randint(20, 100, n_teams),
    'Goles_Contra': np.random.randint(20, 100, n_teams),
    'Posición': np.random.randint(1, n_teams + 1, n_teams),
    'Títulos_Liga': np.random.randint(0, 20, n_teams),
    'Títulos_Internacionales': np.random.randint(0, 10, n_teams),
    'Valor': np.random.uniform(50, 700, n_teams).round(2),
    'Presupuesto': np.random.uniform(10, 200, n_teams).round(2),
    'Gastos_Fichajes': np.random.uniform(1, 100, n_teams).round(2),
    'Ingresos_Ventas': add_nans(np.random.uniform(1, 50, n_teams).round(2)),
    'Número_Socios': add_nans(np.random.randint(1000, 100000, n_teams)),
    'Jugador_Estrella': [f'Jugador_{i}' for i in range(n_teams)],
    'Racha': np.random.choice(['Ganando', 'Perdiendo', 'Empatando'], n_teams),
    #'Capitán': add_nans([f'Capitán_{i}' for i in range(n_teams)])
}

# Crear DataFrame
df = pd.DataFrame(data)

# Mostrar las primeras filas del DataFrame


# Guardar en un archivo CSV
df.to_csv('equipos_futbol.csv', index=False)

# ⚠️No toques esto⚠️

In [3]:
def init_parte1():
    df = pd.read_csv("equipos_futbol.csv", sep = ",")
    return df

# ⚠️Ejecuta esta celda y se te cargará el dframe⚠️

In [4]:
import pandas as pd
df = init_parte1()
df.head()

,Equipo,Ciudad,País,Fundación,Capacidad,Entrenador,Puntos,Goles_Favor,Goles_Contra,Posición,Títulos_Liga,Títulos_Internacionales,Valor,Presupuesto,Gastos_Fichajes,Ingresos_Ventas,Número_Socios,Jugador_Estrella,Racha
0,Equipo_0,Ciudad C,España,2015,90586,Entrenador_0,12,54,30,5,2,5,223.80,137.36,51.10,NaN,85792.0,Jugador_0,Perdiendo
1,Equipo_1,Ciudad C,España,1910,76433,Entrenador_1,57,47,48,17,12,1,666.56,112.20,7.99,4.14,75391.0,Jugador_1,Ganando
2,Equipo_2,Ciudad A,España,1900,63763,Entrenador_2,52,36,94,4,19,9,388.87,188.29,25.75,31.08,29529.0,Jugador_2,Ganando
3,Equipo_3,Ciudad C,España,2013,56298,Entrenador_3,85,56,30,19,19,4,504.62,33.41,2.68,23.32,NaN,Jugador_3,Perdiendo
4,Equipo_4,Ciudad C,España,2009,25919,Entrenador_4,69,59,95,14,0,8,601.49,177.44,87.64,25.26,18039.0,Jugador_4,Ganando

### Muestra las primeras 10 y ultimas 10 filas del df y obten un resumen estadístico.

In [5]:
# tu respuesta

### Establece la columna equipo como indices del df, después, elimina esa columna.

In [6]:
# Tu respuesta

### Muestra las dimensiones del df, muestra sus columnas, y los tipo de dato de sus columnas

In [7]:
## Tu respuesta

### Muestra el número de puntos del equipo_0 usando el método loc.

In [8]:
### Tu respuesta

# ✏️NULOS✏️

- Buscar valores nulos y sustituirlos por valores por defecto.
- Ingresos por ventas lo sustituiremos por media, numero de socios igual y ciudad por madrid.

### Para ver valores nulos, siempre hacemos esto!!!

In [9]:
df.isna().sum()

Equipo                     0
Ciudad                     2
País                       0
Fundación                  0
Capacidad                  0
Entrenador                 0
Puntos                     0
Goles_Favor                0
Goles_Contra               0
Posición                   0
Títulos_Liga               0
Títulos_Internacionales    0
Valor                      0
Presupuesto                0
Gastos_Fichajes            0
Ingresos_Ventas            2
Número_Socios              2
Jugador_Estrella           0
Racha                      0
dtype: int64

### Crea un diccionario con los valores por defecto y sustituye los na..

In [10]:
### Tu respuesta

### Checkeamos ahora si hay na con la linea de siempre

In [11]:
df.isna().sum()

Equipo                     0
Ciudad                     2
País                       0
Fundación                  0
Capacidad                  0
Entrenador                 0
Puntos                     0
Goles_Favor                0
Goles_Contra               0
Posición                   0
Títulos_Liga               0
Títulos_Internacionales    0
Valor                      0
Presupuesto                0
Gastos_Fichajes            0
Ingresos_Ventas            2
Número_Socios              2
Jugador_Estrella           0
Racha                      0
dtype: int64

### Asignar el equipo como indices del df.

In [12]:
### Tu respuesta

# ✏️IDXMAX IDXMIN✏️

###  Obtener el primero y el último equipo en fundarse así como sus años de fundación.

In [13]:
### Tu respuesta

### Obtener el nombre del jugador estrella del equipo que mas capacidad de estadio tiene

In [14]:
### Tu respuesta

### Obtener el nombre de la Ciudad del equipo con menos goles a favor.

In [15]:
### Tu respuesta

### Asignación de elementos

- Asigna al equipo 1 y 5 Francia como país
- Asigna al equipo 3 y 7 Italia como país
- Asigna al equipo 10 Inglaterra como país

In [16]:
### Tu respuesta

# ✏️Filtros✏️

### ⚠️NO TOQUES NADA, SIMPLEMENTE VAMOS A CREAR UN DF MÁS PEQUEÑO⚠️

In [18]:
### Función para init el df
def init():
    df = pd.read_csv("equipos_futbol.csv", sep = ",")
    ## Vamos a disminuir las columnas del df para trabajar mejor. 
    columns = [
        "Valor",
        "Goles_Favor",
        "Goles_Contra",
        "Ciudad",
        "País",
        "Racha",
        "Capacidad"
    ]
    
    df = df[columns]
    valores_defecto = {"Ciudad":"Madrid"}
    df.fillna(valores_defecto, inplace = True)
    df.loc[1,"País",] = "Francia"
    df.loc[2,"País"] = "Francia"
    df.loc[3,"País",] = "Italia"
    df.loc[4,"País",] = "Italia"
    df.loc[5,"País",]  = "Inglaterra"

    return df

### ⚠️ Inicializamos el dataFrame (EJECUTA ESTA CELDA PARA CARGAR EL DF)⚠️

In [84]:
import pandas as pd
df = init()

### Ejercicio 1. Obtener un DF con los equipos cuya racha es empatando

In [20]:
### Tu respuesta

### Ejercicio 2. Obtener un DF con los equipos cuya ciudad es Ciudad A

In [21]:
### Tu respuesta

### Ejer 3. Seleccionar equipos que han marcado más de 50 goles en la temporada actual:

In [22]:
### Tu respuesta

### Ejercicio 4 Obtener equipos con goles en contra inferiores a la media.

In [23]:
### Tu respuesta

### Ejercicio 5 Filtrar equipos con más goles a favor que goles en contra:

In [24]:
### Tu respuesta

### Ejercicio 6, utilizando between, obtén un df con aquellos equipos que tengan entre 73 y 91 goles a favor

In [25]:
### Tu respuesta

### Ejercicio 6.2 Repite lo mismo con expresiones booleanas

In [26]:
### Tu respuesta

### Ejer 7. Obtener un df cuya ciudad es la ciudad A y tiene un valor de mercado mayor que 200.

In [27]:
### Tu respuesta

### Ejer 8. Obtener un df de las ciudades A y B que tengan menos de 60 goles en contra

In [28]:
### Tu respuesta

### Ejer 9. Obtener un df con los datos de los equipos de ciudades A y B, con el método isin()

In [29]:
### Tu respuesta

### Ejer 9.2. Obtener un df con los datos de los equipos de ciudades A y B, con el método isin(), y que tengan menos de 60 goles en contra. Tienes que combinar isin con expresiones!!

In [30]:
### Tu respuesta

### Ejer 10. Obtén un df con aquellos equipos que tengan entre 34 y 90 goles a favor y entre 27 y 54 goles en contra. Utiliza between()

In [32]:
### Tu respuesta

### Ejer 11. Obtén un df con aquellos equipos sean de Inglaterra y de Italia y que tengan entre 50 y 100 goles en contra. Utiliza isin() combinado con between().

In [33]:
### Tu respuesta

### Ejer 11.2 Obtén un df con aquellos equipos sean de Inglaterra y de Italia y que tengan entre 50 y 100 goles en contra. Utiliza isin() combinado con between(), y que su racha sea perdiendo.

In [34]:
### Tu respuesta

# ✏️Ordenar✏️

### Ejercicio1. Obtener un df con los equipos ordenados por valor en orden descendente

In [35]:
### Tu respuesta

### Ejercicio2. Obtener un df con los equipos ordenados por capacidad en orden ascendente

In [36]:
### Tu respuesta

### Ejercicio3. Obtener un df con los equipos ordenados por país en orden alfabético

In [37]:
### Tu respuesta

### Ejercicio4. Obtener un df con los equipos ordenados por país en orden alfabético y en caso de empate, por capacidad en orden ascendente

In [38]:
### Tu respuesta

### Ejercicio4.2. Obtener un df con los equipos ordenados por país en orden alfabético y en caso de empate, por capacidad en orden descendente

In [39]:
### Tu respuesta

### Ejercicio5. Obtener un df con los equipos ordenados por país en orden alfabético y en caso de empate, por capacidad en orden descendente y si empatan, por goles a favor en orden ascendente

In [40]:
### Tu respuesta

### GroupBY

### 1. ¿Cuál es el promedio de goles favor por país?

In [41]:
### Tu respuesta

## 2. ¿Cuántos campeonatos internacionales han ganado los equipos agrupados por país?

In [42]:
### Tu respuesta

## 3. ¿Cuál es la capacidad media de estadios por país?

In [43]:
### Tu respuesta

## 4. ¿Cuál es la relación entre el presupuesto anual y el número de títulos de liga ganados, agrupados por país?

In [45]:
### Tu respuesta


## 5. ¿Cuál es la cantidad total de ingresos por ventas y gastos en fichajes por equipo?

In [46]:
### Tu respuesta

## 6. ¿Cuántos equipos por pais tienen un valor de mercado superior a 100 millones?

In [48]:
### Tu respuesta

### 7. ¿Cuántos equipos por país tiene más de dos titulos internacionales, más de 3 títulos de liga y un presupuesto menor que 100?

In [49]:
### Tu respuesta

### ¿Qué ciudad tiene la mayor cantidad de socios en promedio por equipo?

In [52]:
### Tu respuesta

## 8. ¿Cuál es el promedio de goles a favor y en contra por cada equipo, agrupado por racha actual?

In [53]:
### Tu respuesta

### 10. ¿Qué entrenador lidera el equipo con mayor número de socios?

In [55]:
### Tu respuesta

# ✏️ Función agg✏️

### 1. Obtener estadísticas básicas de valor de mercado y capacidad de estadio.
- Llamamos al método agg y le pasamos como argumento un diccionario donde la clave es el nombre de la columna y el valor una lista con las funciones que queremos obtener. Super mecánico.

In [56]:
### Tu respuesta

### 2. Calcular totales y promedios de goles: Determina el total y el promedio de 'Goles Favor Temporada Actual' y 'Goles Contra Temporada Actual'.

In [ ]:
### Tu respuesta

### 3. Encontrar la info del equipo con el mayor valor de mercado: Usa agg para encontrar el máximo valor de mercado y luego filtra para encontrar qué equipo(s) posee(n) ese valor.

In [58]:
### Tu respuesta

- Podemos hacerlo de varias formas....

In [59]:
### Tu respuesta

### 4. Calcular la varianza de los goles a favor y en contra: Utiliza agg para calcular la varianza de los 'Goles Favor Temporada Actual' y 'Goles Contra Temporada Actual'.

In [60]:
### Tu respuesta

### 5. Resumen por país: Agrupa los equipos por 'País' y calcula el valor de mercado medio y la suma de la capacidad de estadio para cada país.

In [61]:
### Tu respuesta

### 6. Añadir una nueva columna con la media de los goles a favor

In [62]:
### Tu respuesta

# ✏️ApplyMap vs Apply✏️

# ⚠️ Definimos una función para inicializar el df como queremos...⚠️

In [63]:
### Función para init el df
def init():
    df = pd.read_csv("equipos_futbol.csv", sep = ",")
    ## Vamos a disminuir las columnas del df para trabajar mejor. 
    columns = [
        "Valor",
        "Goles_Favor",
        "Goles_Contra",
        "Ciudad",
        "País",
        "Racha",
        "Capacidad"
    ]
    
    df = df[columns]
    valores_defecto = {"Ciudad":"Madrid"}
    df.fillna(valores_defecto, inplace = True)
    df.loc[1,"País",] = "Francia"
    df.loc[2,"País"] = "Francia"
    df.loc[3,"País",] = "Italia"
    df.loc[4,"País",] = "Italia"
    df.loc[5,"País",]  = "Inglaterra"

    return df

### ⚠️ No toques esto, solo ejecuta para cargar el df⚠️

In [64]:
df = init()

###  1. Normaliza los valores numéricos en las columnas "Valor de Mercado", "Goles Favor Temporada Actual" y "Goles Contra Temporada Actual" utilizando el método de normalización min-max.
- En este ejemplo vamos a pasar varias columnas del df a la función normalizar (son series). Por cada una de ellas, sacamos minimo maximo y echamos la cuenta. Primero se pasa Valor de Mercado, luego Goles a favor.... así con todas. Es muy importante entender que, cuando estamos usando apply, estamos mandando una serie como argumento. Si no ponemos nada, mandamos las columnas. Si ponemos axis = 1, mandamos las filas!!!!!!!

In [65]:
### Tu respuesta

### 2. Aplica un formato de moneda a las columnas "Valor de Mercado" y "Capacidad Estadio" para que aparezcan como valores monetarios.
- Ahora queremos aplicar un formato a todos los valores de Valor de Mercado para añadir el símbolo del dolar. Si usamos applymap, lo que estamos mandando es cada uno de los elementos de la columna que estamos indicando, uno a uno, no la columna entera. CLAVE!!!

In [66]:
### Tu respuesta


### 3. Aplica el logaritmo a los valores en Capacidad estadio sólo si el valor es superior a 20000 , de lo contrario, deja el valor como está.
- De nuevo, vamos a mandar cada uno de los elementos de la columna capacidad Estadio

In [67]:
### Tu respuesta

### Ejercicio 4: Inversión de Texto Invierte los strings en las columnas "Ciudad" y "País" (ejemplo: 'Madrid' se convierte en 'diraM').
- Vamos a pasar cada uno de los valores de la columna ciudad y lo invertimos. 
- Aunque Ciudad sea un object, realmente es una instancia de un string.

In [68]:
### Tu respuesta

## 5. Codifica la columna "Racha Actual" con valores numéricos de la siguiente manera: Ganando = 1, Perdiendo = -1, Empatando = 0. Luego, pásalo a datos categóricos.

In [69]:
### Tu respuesta

## Ejercicio 6: Modificación de Nombres de Ciudades Añade el sufijo "-City" a todos los nombres de ciudades en la columna "Ciudad".

In [72]:
### Tu respuesta

### Ejercicio 7: Conversión Condicional a Mayúsculas Convierte los nombres de los países en la columna "País" a mayúsculas sólo si la "Capacidad Estadio" es mayor que 50,000.

In [73]:
### Tu respuesta

### Ejercicio 8: Ajuste de Longitud de Texto Asegura que todos los strings en "País" y "Ciudad" tengan exactamente 10 caracteres, rellenando con '_' o cortando los caracteres necesarios para cumplir con la longitud.

In [75]:
### Tu respuesta

### Ejercicio 9: Cálculo de Diferencial de Goles
- Calcula un diferencial de goles como la diferencia entre "Goles Favor Temporada Actual" y "Goles Contra Temporada Actual", aplica un factor de escala de 1.5 al resultado, y crea una nueva columna para almacenarlo.

In [76]:
### Tu respuesta

### Ejercicio 10: Encodificación Binaria de Ciudades Transforma los nombres de ciudades en la columna "Ciudad" a una forma binaria donde cada letra 'a' se convierte en '1' y todas las demás letras se convierten en '0'.

In [77]:
### Tu respuesta

### 11. Calcular el promedio de goles por partido:
Usa apply en las columnas 'Goles Favor Temporada Actual' y 'Goles Contra Temporada Actual' para calcular el promedio de goles por partido, asumiendo que sabes el número total de partidos jugados.

In [78]:
### Tu respuesta

### 12. Determinar el equipo con mayor valor de mercado: Aplica una función que identifique el valor máximo en la columna 'Valor de Mercado' y retorna el nombre del equipo asociado.

In [79]:
### Tu respuesta

### 13.Normalizar los valores de mercado: Normaliza los valores de la columna 'Valor de Mercado' dividiéndolos por el valor máximo para obtener una escala de 0 a 1.

### 14. Convertir rachas en puntos estimados: Transforma la columna 'Racha Actual', asumiendo que cada victoria ('W') vale 3 puntos, cada empate ('D') 1 punto, y cada derrota ('L') 0 puntos.

In [81]:
### Tu respuesta

### 15. Concatenar ciudad y país en una nueva columna: Usa apply en un DataFrame para concatenar las columnas 'Ciudad' y 'País' en una nueva columna llamada 'Ubicación'.

In [82]:
### Tu respuesta

### 16. Encontrar la longitud de los nombres de los estadios: Si tienes una columna con nombres de estadios, usa apply para calcular la longitud de cada país y almacénalo en una nueva columna.

In [83]:
### Tu respuesta