# Exercise 1: Handling missing values

Considera el siguiente df

Realiza las siguientes operaciones en este dataframe:

**Identificar valores nulos**

1. Indica si algún elemento dentro del df es un valor nulo.
2. Indica qué columnas tienen valores nulos.
3. Cuenta el número de valores faltantes en cada columna.
4. Muestra las filas que contienen valores nulos.

**Eliminar valores nulos**

5. Elimina las filas que contienen al menos un valor nulo.
6. Elimina las filas con valores nulos en la columna de Equipo o en la columna de Salario.
7. Elimina las filas que no contienen al menos dos valores no nulos.

**Rellenar valores nulos**

8. Reemplaza los valores nulos de la columna de Equipo con "DISPONIBLE". Realiza los cambios en el lugar (modificando el dataframe original).
9. Reemplaza los valores nulos de la columna de Salario con el mínimo de los salarios existentes. Realiza los cambios en el lugar.
10. Rellena las alturas faltantes propagando la última observación válida hacia adelante.

### Valores nulos

### 1. Indica si algún elemento dentro del df es un valor nulo.

### 2. Indica qué columnas tienen valores nulos.

- Si en el any no pongo axis, la reducción se hace a través del ejer vertical, de la serie!

### 3. Cuenta el número de valores faltantes en cada columna.

### 4. Muestra las filas que contienen valores nulos.

### Estoy obteniendo una serie booleana que me permite hacer filtros despues....
- Esto siempre es igual!!


### 5. Elimina las filas que contienen al menos un valor nulo.
- El dropna rompe todo lo que tenga valores nulos!!

### 6. Elimina las filas con valores nulos en la columna de Equipo o en la columna de Salario.
- Recordamos que podíamos pasar una lista con las columnas donde queremos que mire, usando el subset!

### 7. Elimina las filas que no contienen al menos dos valores no nulos.
### ¡¡thresh!!
- Con el argumento thresh podemos controlar a partir de cuantos valores nulos queremos que elimine.

### 8. Reemplaza los valores nulos de la columna de Equipo con "DISPONIBLE". Realiza los cambios en el lugar (modificando el dataframe original).
- Como tengo que modificar el df original, hago inplace.

### 9. Reemplaza los valores nulos de la columna de Salario con el mínimo de los salarios existentes. Realiza los cambios en el lugar.

### 10. Rellena las alturas que faltan propagando hacia adelante la última observación válida
### Métodos `ffill` y `bfill` de `fillna()` en Pandas

El método `fillna()` en pandas es fundamental para gestionar valores `NaN` (Not a Number) en DataFrames y Series. Entre las opciones que ofrece, `ffill` y `bfill` son particularmente útiles para rellenar datos faltantes mediante la propagación de valores válidos. Aquí te explico cómo funcionan estos dos métodos:

### Método `ffill` (forward fill)

- **Descripción**: Propaga la última observación válida hacia adelante para rellenar los valores `NaN`.
- **Uso típico**: Ideal cuando los datos tienen una secuencia lógica o temporal y se desea utilizar el último valor conocido para llenar un hueco.
- **Ejemplo de uso**:
  ```python
  df.fillna(method='ffill')

In [ ]:
df.fillna(method='ffill')  # Rellena los NaN con el valor anterior en la columna
df.fillna(method='bfill')  # Rellena los NaN con el siguiente valor en la columna

# Ejercicio 2

Utiliza el siguiente diccionario para el ejercicio

In [150]:
import pandas as pd

data = {
    'Character': ['Gandalf', 'Frodo', 'Aragorn', 'Legolas', 'Gimli', 'Galadriel', 'Gollum', 'Sauron', 'Bilbo', 'Samwise',
                  'Aragorn', 'Legolas', 'Gimli', 'Galadriel', 'Gollum', 'Sauron', 'Bilbo', 'Samwise', 'Arwen', 'Faramir',
                  'Gandalf', 'Frodo', 'Gandalf', 'Frodo', 'Arwen', 'Faramir', 'Eowyn', 'Boromir', 'Meriadoc', 'Peregrin',
                  'Elrond', 'Theoden', 'Gimli', 'Legolas'],
    'Race': ['Maia', 'Hobbit', 'Human', 'Elf', 'Dwarf', 'Elf', 'Hobbit', 'Maia', 'Hobbit', 'Hobbit',
             'Human', 'Elf', 'Dwarf', 'Elf', 'Hobbit', 'Maia', 'Hobbit', 'Hobbit', 'Elf', 'Human',
             'Maia', 'Hobbit', 'Maia', 'Hobbit', 'Elf', 'Human', 'Human', 'Human', 'Hobbit', 'Hobbit',
             'Elf', 'Human', 'Dwarf', 'Elf'],
    'Class': ['Wizard', 'Thief', 'Ranger', 'Archer', 'Warrior', 'Sorceress', 'Thief', 'Dark Lord', 'Thief', 'Gardener',
              'Ranger', 'Archer', 'Warrior', 'Sorceress', 'Thief', 'Dark Lord', 'Thief', 'Gardener', 'Princess', 'Captain',
              'Wizard', 'Thief', 'Wizard', 'Thief', 'Princess', 'Captain', 'Shieldmaiden', 'Captain', 'Knight', 'Squire',
              'Lord', 'King', 'Warrior', 'Archer'],
    'Strength': [8, 3, 7, 5, 9, 4, 6, 10, 3, 5,
                 7, 5, 9, 4, 6, 10, 3, 5, 4, 6,
                 8, 3, 8, 3, 4, 6, 7, 8, 5, 4,
                 7, 8, 9, 5],
    'Dexterity': [5, 8, 7, 10, 3, 7, 9, 8, 6, 7,
                  7, 10, 3, 7, 9, 8, 6, 7, 8, 6,
                  7, 8, 5, 8, 8, 7, 9, 6, 7, 8,
                  7, 9, 6, 10],
    'Constitution': [6, 4, 8, 5, 9, 5, 6, 10, 4, 8,
                     8, 5, 9, 5, 6, 10, 4, 8, 5, 7,
                     8, 6, 6, 4, 5, 7, 8, 9, 6, 5,
                     8, 7, 9, 5],
    'Intelligence': [10, 6, 5, 4, 3, 9, 7, 10, 6, 5,
                     5, 4, 3, 9, 7, 10, 6, 5, 9, 8,
                     10, 6, 10, 6, 9, 8, 6, 7, 5, 6,
                     8, 7, 3, 10],
    'Wisdom': [9, 6, 7, 8, 4, 10, 5, 10, 7, 6,
               8, 9, 7, 6, 8, 7, 9, 8, 5, 8,
               9, 6, 9, 6, 8, 9, 7, 6, 8, 7,
               9, 8, 5, 8],
    'Charisma': [7, 5, 8, 6, 3, 8, 3, 9, 5, 8,
                 8, 6, 8, 8, 7, 8, 9, 7, 3, 9,
                 7, 5, 7, 5, 8, 6, 8, 8, 7, 8,
                 9, 7, 3, 9]
}


df = pd.DataFrame(data)
df.head()

,Character,Race,Class,Strength,Dexterity,Constitution,Intelligence,Wisdom,Charisma
0,Gandalf,Maia,Wizard,8,5,6,10,9,7
1,Frodo,Hobbit,Thief,3,8,4,6,6,5
2,Aragorn,Human,Ranger,7,7,8,5,7,8
3,Legolas,Elf,Archer,5,10,5,4,8,6
4,Gimli,Dwarf,Warrior,9,3,9,3,4,3

# Realiza las siguientes operaciones en el dataframe:

**Establecer índices, eliminar componentes y renombrar componentes**

1. Establece la columna 'Character' como el índice del dataframe.
2. Renombra el índice 'Gandalf' a 'Mithrandir'.
3. Elimina la columna 'Strength' del dataframe.
4. Renombra la columna 'Class' a 'Occupation'.
5. Restablece el índice del dataframe a sus valores predeterminados (enteros).

### 1. Establece la columna 'Character' como el índice del dataframe.

### 2. Renombra el índice 'Gandalf' a 'Mithrandir'.
- Para renombrar, usamos el método rename y debemos especificar si quueremos renombrar un índice (fila) o una columna..

### 3. Elimina la columna 'Strength' del dataframe.

### 4. Renombra la columna 'Class' a 'Occupation'.

### 5. Restablece el índice del dataframe a sus valores predeterminados (enteros).


# Ejercicio 3: ordenación, manejo de duplicados, filtrado y edición de datos

Organicemos un poco más nuestros datos de _El Señor de los Anillos_.

### Ordenación

1. Ordena el dataframe por la columna 'Character'.
2. Aplica ordenación por 'Character' en orden inverso.
3. Ordena por orden ascendente de 'Charisma' y orden descendente de 'Wisdom'.

### Eliminar duplicados

4. Verifica si hay registros duplicados, usando `any()`. Considera solo la columna 'Character' para identificar duplicados.
5. Elimina las filas duplicadas basadas en la columna 'Character'. Conserva las últimas ocurrencias de los duplicados.

### Aplicando filtros

6. Aplica un filtro basado en 'Intelligence' mayor que 7.
7. Aplica un filtro basado en 'Intelligence' mayor que 5 y 'Race' igual a 'Hobbit'.
8. Aplica un filtro usando `.isin()` para 'Race' siendo 'Hobbit' o 'Elf'.
9. Aplica un filtro usando `.between()` para 'Dexterity' entre 5 y 8.

### Agregar/Editar datos

10. Añade una nueva columna llamada 'Elite' que marca a los personajes con 'Wisdom' mayor que 8 y 'Dexterity' mayor que 6. Si un personaje cumple ambas condiciones, el valor correspondiente en esta columna debería ser `True`, de lo contrario, `False`.
11. Modifica el contenido del registro 22 asignando nueva información. Específicamente, renombra el personaje de vuelta a 'Gandalf', aumenta su nivel de 'Dexterity' a 8 y cambia su estado 'Elite' a `True`.
12. Verifica el tipo de dato de 'Dexterity', confirma que es `int`. Luego, conviértelo a tipo float.

### Ordenación 
1. Ordena el dataframe por la columna 'Character'.
2. Aplica ordenación por 'Character' en orden inverso.
3. Ordena por orden ascendente de 'Charisma' y orden descendente de 'Wisdom'.

### 1. Ordena el dataframe por la columna 'Character'.

### 2. Aplica ordenación por 'Character' en orden inverso.

### 3. Ordena por orden ascendente de 'Charisma' y orden descendente de 'Wisdom'.

-  Utilizamos la notación de pasar listas al by y al ascending

### Eliminar duplicados

4. Verifica si hay registros duplicados, usando `any()`. Considera solo la columna 'Character' para identificar duplicados.
5. Elimina las filas duplicadas basadas en la columna 'Character'. Conserva las últimas ocurrencias de los duplicados.

### 5. Elimina las filas duplicadas basadas en la columna 'Character'. Conserva las últimas ocurrencias de los duplicados.
- Me están diciendo que utilice keep = "last"

### Aplicando filtros

6. Aplica un filtro basado en 'Intelligence' mayor que 7.
7. Aplica un filtro basado en 'Intelligence' mayor que 5 y 'Race' igual a 'Hobbit'.
8. Aplica un filtro usando `.isin()` para 'Race' siendo 'Hobbit' o 'Elf'.
9. Aplica un filtro usando `.between()` para 'Dexterity' entre 5 y 8.

### 6. Aplica un filtro basado en 'Intelligence' mayor que 7.

### 7. Aplica un filtro basado en 'Intelligence' mayor que 5 y 'Race' igual a 'Hobbit'.

### 8. Aplica un filtro usando `.isin()` para 'Race' siendo 'Hobbit' o 'Elf'.
- El is in lo que me devuelve es una serie booleana...

#### Si hiciésemos lo mismo con un filtro normal..

### 9. Aplica un filtro usando `.between()` para 'Dexterity' entre 5 y 8.

#### Usando un filtro normal...

### Agregar/Editar datos

- 10. Añade una nueva columna llamada 'Elite' que marca a los personajes con 'Wisdom' mayor que 8 y 'Dexterity' mayor que 6. Si un personaje cumple ambas condiciones, el valor correspondiente en esta columna debería ser `True`, de lo contrario, `False`.

- 11. Modifica el contenido del registro 22 asignando nueva información. Específicamente, renombra el personaje de vuelta a 'Gandalf', aumenta su nivel de 'Dexterity' a 8 y cambia su estado 'Elite' a `True`.

- 12. Verifica el tipo de dato de 'Dexterity', confirma que es `int`. Luego, conviértelo a tipo float.

### - 10. Añade una nueva columna llamada 'Elite' que marca a los personajes con 'Wisdom' mayor que 8 y 'Dexterity' mayor que 6. Si un personaje cumple ambas condiciones, el valor correspondiente en esta columna debería ser `True`, de lo contrario, `False`.

### 11. Modifica el contenido del registro 22 asignando nueva información. Específicamente, renombra el personaje de vuelta a 'Gandalf', aumenta su nivel de 'Dexterity' a 8 y cambia su estado 'Elite' a `True`.
- Usamos el método loc...

### - 12. Verifica el tipo de dato de 'Dexterity', confirma que es `int`. Luego, conviértelo a tipo float.

# Ejercicio 4: Trabajar con fechas y horas

Finalmente, agreguemos algunas fechas de nacimiento para nuestros personajes y averigüemos información basada en ellas.

1. Convierte las fechas de nacimiento en objetos `datetime`. Analiza las fechas inválidas usando `coerce`.
2. Obtén la fecha actual, al día de hoy, usando `current_date = pd.Timestamp.now().date()`. Crea una nueva columna llamada 'Age' y almacena en ella la edad de cada personaje, en años.
3. Usando el objeto `datetime` para el cumpleaños de Frodo, imprime su año de nacimiento, mes de nacimiento y día de nacimiento.

In [253]:
import datetime as dt

birthdates = [
    "September 22, 1968",
    "January 10, unknown",
    "March 2, 1948",
    "November 24, 1982",
    "July 1, 1430",
    "October 17, 1414",
    "April 6, 1980",
    "October 10, 1799",
    "August 22, 1983",
    "March 1, 1931",
    "April 6, 1980",
    "February 7"
    "March 4, 1978",
    "unknown",
    "December 22, 1890",
    "September 22, 1890",
    "August 27, 1910",
    "March 20, 1983",
    "September 22, 1968",
    "January 10,"
    "March 2, 1948",
    "November 24, 1982",
    "July 1, 1430",
    "October 17, 1414",
    "April 6, 1980",
    "October 10, 1799",
    "August 22, 1983",
    "March 1, 1931",
    "April 6, 1980",
    "February 7",
    "unknown",
    "March 4, 1978",
    "unknown",
    "December 22, 1890",
    "December 22, 1890",
    "December 22, 1890",
    
]

# Adding birthdates as a new column to the dataframe
df['Birthdate'] = birthdates
df.head()

,Character,Race,Class,Strength,Dexterity,Constitution,Intelligence,Wisdom,Charisma,Elite,Birthdate
0,Gandalf,Maia,Wizard,8,5.0,6,10,9,7,False,"September 22, 1968"
1,Frodo,Hobbit,Thief,3,8.0,4,6,6,5,False,"January 10, unknown"
2,Aragorn,Human,Ranger,7,7.0,8,5,7,8,False,"March 2, 1948"
3,Legolas,Elf,Archer,5,10.0,5,4,8,6,False,"November 24, 1982"
4,Gimli,Dwarf,Warrior,9,3.0,9,3,4,3,False,"July 1, 1430"

### 1. Convierte las fechas de nacimiento en objetos `datetime`. Analiza las fechas inválidas usando `coerce`.
- Coerce va a poner a Nat las fechas q no puedan convertirse

### 2. Obtén la fecha actual, al día de hoy, usando `current_date = pd.Timestamp.now().date()`. Crea una nueva columna llamada 'Age' y almacena en ella la edad de cada personaje, en años.

### 3. Usando el objeto `datetime` para el cumpleaños de Frodo, imprime su año de nacimiento, mes de nacimiento y día de nacimiento.